/* Importing Google Fonts */
@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@400;700&family=Playfair+Display:wght@700&display=swap');

/* Global Styles */
body {
    font-family: 'Montserrat', sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f4f4f4;
    color: #333;
    transition: background-color 0.3s, color 0.3s;
}

.content-section {
    padding: 1rem;
    background-color: #fff;
    margin: 2rem auto;
    max-width: 800px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    border-radius: 10px;
}

.content-container h2 {
    font-family: 'Playfair Display', serif;
    font-size: 1.7rem;
    margin-bottom: 1.5rem;
    color: #333;
    text-align: center;
    border-bottom: 2px solid #ffcc00; /* Yellow */
    display: inline-block;
    padding-bottom: 0.5rem;
}

.content-container h3 {
    font-size: 1.5rem;
    margin-top: 1.5rem;
    color: #444;
    border-left: 4px solid #ffcc00; /* Yellow */
    padding-left: 0.5rem;
}

.content-container p, .content-container ul {
    font-size: 1rem;
    margin-bottom: 1rem;
    line-height: 1.8;
    color: #555;
}

.content-container ul {
    text-align: center;
    list-style: none;
    padding-left: 1.5rem;
}

.content-container ul li {
    margin-bottom: 0.5rem;
}

.content-container a {
    color: #1e90ff;
    text-decoration: none;
    transition: color 0.3s;
    border-bottom: 1px dashed #1e90ff;
}

.content-container a:hover {
    color: #ff4500;
    border-bottom: 1px dashed #ff4500;
}
.learning_duration li {
    text-align: left;
}


/* Dark Mode */
body.dark-mode {
    background-color: #121212;
    color: #e0e0e0;
}

body.dark-mode header {
    background-color: #1e1e1e;
}

body.dark-mode .content-section {
    background-color: #1e1e1e;
    color: #e0e0e0;
}

body.dark-mode nav {
    background-color: #000;
}

body.dark-mode nav a {
    color: #e0e0e0;
}

body.dark-mode footer {
    background-color: #1e1e1e;
}

/* Dark Mode Links */
body.dark-mode .content-container h2, body.dark-mode .content-container p, body.dark-mode .content-container ul, body.dark-mode .content-container h3{
    color: #ffffff;;
}
body.dark-mode .content-container a {
    color: #4fc3f7;
}

body.dark-mode .content-container a:hover {
    color: #ff8a65;
}

/* Dark Mode Toggle Switch */
.dark-mode-container {
    display: flex;
    align-items: center;
    font-family: 'Montserrat', sans-serif;
    font-weight: bold;
    color: #fff; /* White */
    transition: color 0.3s;
}

body.dark-mode .dark-mode-container {
    color: #e0e0e0;
}